* {
  margin: 0px;
  padding: 0px;
  /* border:solid 1px black; */
  scroll-behavior: smooth;
  /* transition: ease-in-out 1s; */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  height: 97vh;
}

.header {
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  height: 4rem;
}
.title {
  margin-top: 1rem;
}
.chatcontainer {
  /* border:solid 1px black; */
  width: 100%;
  flex-grow: 1;
  overflow-y: scroll;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-right: 2rem;
}
.messagecontainer[role="User"] {
  background-color: rgb(218, 218, 218);
  color: rgb(0, 0, 0);
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 20rem;
}
.messagecontainer[role="User"] p {
  max-width: 20rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.messagecontainer[role="Assistant"] {
  background-color: rgb(239, 239, 239);
  color: rgb(0, 0, 0);
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  /* width: fit-content; */
  max-width: 32.57rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.messagecontainer[role="Assistant"]  pre code{

  max-width: 20rem;
  word-wrap: break-word;
  overflow-wrap:break-word;

  /* overflow:hidden; */
}
.rolecontainer[role="User"] {
  background-color: rgb(188, 188, 188);
  width: fit-content;
  padding: 10px;
  border-radius: 20px;
}

.singlemessagemain {
  margin: 20px;
}

.singlemessagemain[role="User"] {
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
}
.singlemessagemain[role="System"] {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rolecontainer[role="System"] {
  opacity: 0%;
}

.messagecontainer[role="System"] {
  color: rgb(255, 0, 0);
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.singlemessagemain[role="Assistant"] {
  align-self: flex-start;
}

.Controls {
  align-items: center;
  gap: 20px;
  width: 100%;
}

.controlsmain {
  display: flex;
  align-items: center;
  gap: 20px;
}

.textbox {
  flex-grow: 1;
  background-color: rgb(255, 255, 255);
  height: 60px;
  /* overflow:scroll; */
  border-radius: 20px;
  padding: 20px;
  border: solid 2px rgb(215, 215, 215);
  font-size: 20px;
  resize: none;

}
.sendbuttonimage {
  height: 30px;
}
.sendbutton {
  border: none;
  background-color: rgb(202, 202, 202);
  padding: 12px;
  border-radius: 200px;
  border: solid 2px rgb(215, 215, 215);
}
.sendbutton:hover {
  background-color: rgb(169, 169, 169);
}
.sendbutton:disabled {
  background-color: rgb(193, 193, 193);
  border: solid 2px rgb(193, 193, 193);
}
.sendbutton:disabled:hover {
  background-color: rgb(193, 193, 193);
}
.textbox:disabled {
  background-color: rgb(193, 193, 193);
}

.deepthinking {
  padding: 0.5em 1em;
  font-size: 16px;
  font-family: "Lucida Sans", Arial, sans-serif;
  font-weight: lighter;
  border: none;
  border-radius: 12px;
  border: 3px solid transparent;
  color: black;
  cursor: pointer;
  transition: "ease-in-out 0.5s";
}
.deepthinking:disabled {
  background: linear-gradient(rgb(97, 97, 97), rgb(69, 69, 69)) padding-box,
    linear-gradient(
        135deg,
        rgb(71, 70, 70),
        rgb(208, 206, 206),
        rgb(61, 61, 61)
      )
      border-box;
}

.messagecontainer[role="Assistant"] li {
  margin-left: 20px;
}

.loading {
  margin-left: 2rem;
  background-color: rgb(204, 204, 201);
  width: fit-content;
  padding: 10px;
  border-radius: 20px;
}
.loader {
  width: fit-content;
  font-size: 15px;
  font-family: "Trebuchet MS", sans-serif;
  color: #0000;
  background: linear-gradient(90deg, #0000 35%, #565656 0 55%, #0000 0) 0/300%
    100% no-repeat text;
  animation: l3 2s ease-in-out infinite;
}
.loader:before {
  /* content: "Thinking..."; */
}
@keyframes l3 {
  0% {
    background-position: 100%;
  }
}
